<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </li>

            <li ng-repeat="item in items">
                <a ng-if="item.state" ui-sref="{{item.state}}" ui-sref-active="active">
                    <span class="fa fa-fw {{ item.iconClass}}"></span>
                    <span> {{ item.text }}</span>
                </a>
                <a ng-if="!item.state" ng-click="item.isCollapsed = !item.isCollapsed">
                    <span class="fa fa-fw {{ item.iconClass}}"></span>
                    <span> {{ item.text }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul ng-if="!item.state && item.children"
                    collapse="item.isCollapsed"
                    class="nav nav-second-level">
                    <li ng-repeat="child in item.children">
                        <a ui-sref="{{child.state}}" ui-sref-active="active">
                            <span class="fa fa-fw {{ child.iconClass}}"></span>
                            <span> {{ child.text }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

